{%extends 'base2.html'%}

{%block body%}
<div style="padding: 10px;">
<h4>What is pointula?</h4>
<p>Pointula is an online social investment platform which hedge on investors pooled funds, diversify them on different portfolios and distribute the returns back to investors.</p>
<h4>How do you generate so much profits?</h4>
<p>We mainly engage on derivative trading of cryptocurrencies and highly volatile stocks and indices markets. even when trading on the foreign exchange market comes with a lot of risks (being limited to newbies), its highly profitable for those with the right skillset and tools to keep a watch on the market. Trading accurately on the cryptocurrency markets alone can yield an average of 1.9% a day.</p>
<h4>Is pointula a bank or credit union?</h4>
<p>No, pointula is not a bank or a credit union nor is it affiliated with any. we are only an investment company with one aim of bringing togther people with interest of setting theirselves financially free and achieving their great goals by giving them a platform to acheive their aims.</p>
<h4>Who are the team?</h4>
<p>Pointula management teams comprises of active and Ex Fintech experts from various financial organisations within Nigeria and South africa. having a precised experiences in the financial markets, we can blend our analyctical skills with the use of sophisticated technologies to better perform in managing our trading and analysis.</p>
<h4>Where is pointula based?</h4>
<p>Pointula is a child company of amfeix investment group, Cyprus. we are based in lagos, Nigeria.</p>
<h4>How can i join?</h4>
<p>To join the platform, please click on the sign up button which cannbe found on the home page. signing up is free!</p>
<h4>What details do you require to register?</h4>
<p>You'll need to provide your legal name as it appear on your government issued ID, your personal email and phone number.</p>
<h4>Do i need to undergo KYC?</h4>
<p>KYC isn't required to use the platform however, we may request some documents to better identify you if we suppect some strange activities with your account. This is just to protect you and the platform from potential fraud.</p>
<h4>How much can i earn?</h4>
<p>The amount you can earn is calculated based on the daily return percentage from the platform trading desk which may vary with the least of daily returns being 0.90% up to 1.95% and is proportional to the amount of capital you invested.</p>
<h4>How can i fund my account?</h4>
<p>We currently offer two methods to fund your acount: Either through bank transfers or Bitcoin. To fund your account, kindly log into your account, and navigate to the depsoit section of your dashboard and follow the prompt.</p>
<h4>How long does it takes fund to arrive in my account?</h4>
<p>Funds depsoted using bank transfers are generally available within 30 minutes. if it takes longer than this, please contact support to help with your deposits. </p>
<h4>What is the minimum amount i can deposit?</h4>
<p>The minimum amount you can deposit is NGN20,000</p>
<h4>What is the maximum amount i can deposit?</h4>
<p>There is no limit to what you can deposit into your account.</p>
<h4>Are my deposits safe?</h4>
<p>Every funds deposited into the platform are held in federally insured custody of our bank and financial partners.</p>
<h4>How can i withdraw?</h4>
<p>To withdraw your funds, please sign into your account if youre not logged in alrady, then from your dashboard, click on withdraw right in the 'available balance' tab.</p>
<h4>How long does it takes my withdrawal to process?</h4>
<p>Withdrawals are processed within 30 minutes, but may take longer to arrive in your bank accounts as we do not control your financial institution transaction frequency.</p>
<h4>Is there a minimum withdrawal amount?</h4>
<p>The minimum amount you can nwithdraw is NGN3,000.</p>
<h4>That is the maximum amount i can withdraw?</h4>
<p>The maximum amount you can withdraw per day is NGN1,000,000</p>
<h4>What are the withdrawal methods?</h4>
<p>We only support bank withdrawal method at this time. however, we planned to introduce more withdrawal methods in the near future.</p>
<h4>Can i withdraw my initial capital?</h4>
<p>Yes, your initial capital can be withdrawn out of your investment account after 45 days. to withdraw your capital, you'll need to terminate your active investment from within your dashboard.</p>
<h4>How long does it takes for my investment to start accruing interest?</h4>
<h4>Can i reinvest my profits?</h4>
<p>You can easily reinvest your accrued profits back into your investment pool by clicking on the "Invest" button which can be seen within your "Available Balance" board.</p>
<h4>Does my investment expire automatically?</h4>
<p>No, even though your investment becomes fully matured after 45 days, it is still active and running until you decide to terminate it.</p>
<h4>Are there any fees in using the platform?</h4>
<p>Yes, we charge a 1% fee when you terminate your investment contract, also, NGN65 will be accessed for every withdrawal below NGN500,000 and a 0.35% for withdrwals above NGN500,000</p>
<h4>What will happen if i terminate my investment?</h4>
<p>Your current investment ends and all invested capital will be released and moved to cash/available balance.</p>
<h4>Will i still earn interests for cash not invested?</h4>
<p>No, you do not earn interest for cash held in your available balance. to earn interest, you will need to invest any available cash balance into the investment pool.</p>
<h4>Are there any affiliates program?</h4>
<p>Yes we do have a lucrative affiliate program where everyone can earn 10% of whatever is invested into the pool.</p>
<h4>I still have more questions, how can i contact you?</h4>
<p>To contact us for any enquiries please use the support link found at the bottom of the page, send us an email at hello@pointula.com or call our team on 090 001 0001</p>

</div>
{%endblock%}