{%extends 'base.html'%}

{%block body%}

<div class="info-success notification">
    <p>Important Heads up! The sum of your invested capital will be locked up for 45 days (Non-withdrawable). To withdraw your capital, you'll need to wait for 45 days and then terminate your investment contract within your dashboard. You can invest up to a maximum of ₦5,000,000.
    </p>
</div>

<div class="generalForm">
{%if form.errors%}
<div class="error text-danger" style="background: rgb(252, 176, 176); border-radius: 5px; padding: 2px; margin-bottom: 20px;">
    {%for error in form.amount.errors%}
    <ul>
        <li>{{error}}</li>
        
    </ul>
    {%endfor%}
    {%for error in form.terms_and_condition.errors%}
    <ul>
        <li>{{error}}</li>
        
    </ul>
    {%endfor%}
</div>
{%endif%}
<form action="" method="POST">
    {{form.csrf_token()}}
    <div class="form-group">
        {{form.amount.label}}
        {{form.amount(class='form-control', placeholder='Enter your desired amount')}}
    </div> 
    <div class="form-group">
        {{form.terms_and_condition(id='terms_and_condition', placeholder="Enter Referal Code Here")}}
        <a href="">I Agree To projectX Terms and Conditions</a>
    </div>
    <input style="width: 100%; text-align: center;" class="btn btn-warning" type="submit" value="Invest">
</form>

</div>
{%endblock%}